@import 'partials';

.toolbar-link {
  position: relative;
  margin-right: four-by(2);

  &__icon-link {
    height: 38px;
    width: 38px;
    border: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    text-decoration: none;

    svg {
      height: 16px;
      path {
        fill: $text-normal;
      }
    }
  }

  &__additional-icon {
    height: 8px;
    position: absolute;
    right: 0px;
    top: 5px;
  }
}
