@import 'partials';

.filter-box {
  display: inline-flex;
  align-items: center;
  margin-right: four-by(4);

  &__label {
    font-size: $s-font;
    line-height: 1.2;
    font-weight: 400;
    color: $text-normal;
    text-transform: uppercase;
    margin-right: four-by(2);
  }

  &__select {
    font-size: $m-font;
    font-family: $font-family;
    font-weight: 500;
    color: $text-normal;
    background-color: $bg-color;
    padding: four-by(2) four-by(4) four-by(2) four-by(2);
    border: 0;
    border-radius: 0;
    background-image: url('../../../assets/images/chevron-down-solid.svg');
    background-position: center right 8px;
    background-repeat: no-repeat;
    background-size: 10px;
    margin-right: four-by(2);
    box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
    text-transform: capitalize;
    -webkit-appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}
