.items {
  position: relative;
  background-color: $container-bg;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;

  @include breakpoint($medium) {
    width: 46%;
  }

  &__header {
    padding: 16px 0 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid $border-light;

    @include breakpoint($small) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include breakpoint($medium) {
      flex-direction: column;
      justify-content: left;
    }
    @include breakpoint($xlarge) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__header-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90px;
    align-content: space-between;

    @include breakpoint($xsmall) {
      width: auto;
      height: auto;
      flex-direction: row;
      justify-content: center;
    }
    @include breakpoint($small) {
      justify-content: flex-end;
    }
    @include breakpoint($medium) {
      justify-content: center;
    }
    @include breakpoint($xlarge) {
      justify-content: flex-end;
    }
  }

  &__body {
    padding: 0 0 20px;
  }

  &__heading {
    width: 100%;
    font-size: $l-font;
    line-height: 1.2;
    font-weight: 500;
    color: $text-dark;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 4px 0;

    @include breakpoint($small) {
      width: auto;
    }
    @include breakpoint($medium) {
      width: 100%;
    }
    @include breakpoint($xlarge) {
      width: auto;
    }

    &--left {
      text-align: left;
    }
  }

  &__description {
    text-align: left;
    font-size: 12px;
    color: $text-normal;
    margin: 10px 0;
    word-wrap: break-word;
    max-width: 360px;
  }

  &__show-more,
  &__show-less {
    background: transparent;
    color: $text-normal;
    width: 36px;
    height: 36px;
    border: 2px solid $border-color;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    margin: 10px;

    &:hover {
      box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
    }

    &::before {
      border-style: solid;
      border-width: 4px 4px 0 0;
      content: '';
      display: inline-block;
      left: 0;
      height: 7px;
      transform: rotate(135deg);
      position: relative;
      vertical-align: top;
      width: 7px;
    }
  }

  &__show-less {
    &::before {
      top: 3px;
      bottom: 0;
      transform: rotate(315deg);
    }
  }

  &__message {
    box-shadow: 0 0px 5px rgba($shadow-color, 0.15);
    box-sizing: border-box;
    padding: 15px 15px;
    margin: 15px 0;
    width: 100%;
    text-align: left;
    color: $text-normal;
    transition: color 200ms ease-in;
    font-size: 12px;
    line-height: 1.2;
  }
}
