.list-header {
  border-bottom: 1px solid $border-light;
  margin-bottom: 8px;

  svg {
    height: 20px;
    margin-right: 12px;

    path {
      fill: $text-normal;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__bottom {
    position: relative;
  }

  &__heading {
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: $text-normal;

    svg {
      height: 20px;
      margin-right: 12px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.2;
    color: $text-light;
    padding: 8px 0 16px;
    max-width: 360px;
  }

  &__name-input {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #646c73;
    margin-bottom: 8px;
  }

  &__button {
    margin-bottom: 8px;
  }

  &__desc-textarea {
    margin-bottom: 8px;
  }

  &__select {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    padding: 0 30px 0 15px;
    font-size: $font-size;
  }

  .primary-select {
    box-shadow: none;
  }

  &__type {
    position: relative;
  }

  &--clickable {
    cursor: pointer;
  }
}
