.list-header {
  border-bottom: 1px solid $border-light;
  margin-bottom: four-by(2);

  svg {
    height: 20px;
    margin-right: four-by(4);

    path {
      fill: $text-dark;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &--disabled {
      svg path {
        fill: $gray-bg2;
      }
    }
  }

  &__bottom {
    position: relative;
  }

  &__heading {
    padding: four-by(2) 0;
    display: flex;
    align-items: center;
    font-size: $xl-font;
    font-weight: 700;
    line-height: 1;
    color: $text-dark;

    &--disabled {
      color: $gray-bg2;
    }

    svg {
      height: 20px;
      margin-right: four-by(4);

      path {
        fill: $text-dark;
      }
    }
  }

  &__description {
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
    padding: four-by(2) 0 four-by(4);

    &--disabled {
      color: $gray-bg2;
    }
  }

  &__button {
    margin-bottom: four-by(2);

    &:disabled {
      color: $gray-bg2;
    }
  }

  &__desc-textarea {
    margin-bottom: four-by(2);
  }

  &__select {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    padding: 0 four-by(8) 0 four-by(4);
    font-size: $m-font;
  }

  .primary-select {
    box-shadow: none;
  }

  &__type {
    position: relative;
  }

  &--clickable {
    cursor: pointer;
  }
}
