.list-item {
  background-color: $bg-color;
  display: block;
  position: relative;
  border-bottom: 1px solid $item-border;
  padding: 0 16px 0;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 0 2px 10px rgba($shadow-color, 0.1);
  }

  &--done {
    input ~ .list-item__buttons .list-item__toggle .list-item__icon {
      &:after {
        background-color: $success;
        border-color: $success;
      }
    }

    .list-item__icon {
      &::before {
        background-color: $success-bg;
      }
      &::after {
        background-image: url('../../assets/images/check-solid.svg');
        background-size: 18px;
        background-position: center;
      }
    }

    input ~ .list-item__buttons .list-item__toggle .list-item__icon--pending {
      &:after {
        background-color: $bg-color;
        border-color: $border-color;
      }
    }

    .list-item__icon--pending {
      &::before {
        background-color: $bg-color;
      }
      &::after {
        background-image: 0;
      }
    }
  }

  &--restore {
    input ~ .list-item__buttons .list-item__toggle .list-item__icon {
      color: $text-normal;
      &:after {
        background-color: $restore-blue;
        border-color: $restore-blue;
      }
    }

    .list-item__icon {
      &::before {
        background-color: $restore-color;
      }

      &::after {
        background-image: url('../../assets/images/undo-alt-solid.svg');
        background-size: 18px;
        background-position: center;
      }
    }

    input ~ .list-item__buttons .list-item__toggle .list-item__icon--pending {
      &:after {
        background-color: $success;
        border-color: $success;
      }
    }

    .list-item__icon--pending {
      &::before {
        background-color: $success-bg;
      }
      &::after {
        background-image: url('../../assets/images/check-solid.svg');
        background-size: 18px;
        background-position: center;
      }
    }
  }

  &--details-visible {
    border-bottom: 1px solid $item-border;
    border-right: 1px solid $item-border;
    border-left: 1px solid $item-border;
  }

  &__input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }

  &__label {
    box-sizing: border-box;
    padding: 16px 0;
    display: flex;
    align-items: center;
    text-align: left;
    color: $text-normal;
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: $bg-color;
    transition: all 0.1s;
  }

  &__data {
    display: flex;
    flex-direction: column;
    font-size: $m-font;
    line-height: 1.2;
  }

  &__author {
    font-size: $s-font;
    margin-top: 5px;
    text-transform: capitalize;
    text-overflow: ellipsis;
  }

  &__buttons {
    display: flex;
  }

  &__toggle {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    width: 40px;
    border: 0;
  }

  &__icon {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    cursor: pointer;

    &:before {
      border-radius: 100%;
      content: '';
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 24px;
      height: 24px;
      content: '';
      border: 2px solid $border-color;
      background-color: $bg-color;
      background-repeat: no-repeat;
      border-radius: 100%;
      cursor: pointer;
      transition: all 200ms ease-in;
      background-position: center;
    }

    &:disabled {
      &:after {
        cursor: not-allowed;
      }
    }

    &--pending {
      cursor: not-allowed;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 16px;
  }

  &__features {
    &:not(:last-child) {
      border-bottom: 1px solid $border-light;
    }
  }

  &__feature-buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    min-height: 45px;

    button:not(:last-of-type) {
      margin-right: 16px;
    }
  }

  &__confirmation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;

    h4 {
      width: 100%;
      color: $text-dark;
      font-weight: 700;
      text-align: center;
      line-height: 1.2;
      padding: 0 0 16px;
    }

    button:first-of-type {
      margin-right: 20px;
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      position: absolute;
      left: 50%;
      bottom: 2px;
      content: '';
      height: 16px;
      width: 16px;
      z-index: 3;
      cursor: pointer;
    }

    &:hover {
      &::before {
        display: block;
      }
    }

    &--details-visible {
      &::before {
        display: none;
        background: url('../../assets/images/chevron-up-solid.svg') no-repeat
          center;
      }
    }

    &--details-not-visible {
      &::before {
        display: none;
        background: url('../../assets/images/chevron-down-solid.svg') no-repeat
          center;
      }
    }
  }

  &__description {
    position: relative;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid $item-border;
  }

  &__comments {
    position: relative;

    &:nth-child(2) {
      margin-top: 16px;
    }
  }

  &__new-comment {
    text-align: left;
    border-bottom: 1px solid $item-border;
    margin-bottom: 16px;
  }

  &__voting {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 40px;
    margin-right: 16px;
    z-index: 3;
  }

  &__validation-error {
    margin-bottom: 5px;
  }

  &__save-details {
    position: relative;
    width: 100%;
    .primary-button {
      font-size: $m-font;
      width: 100%;
      height: 44px;
    }
  }

  &__busy-overlay {
    align-items: center;
    background: rgba($shadow-color, 0.7);
    color: $bg-color;
    display: flex;
    font-size: $l-font;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;

    &--dimmed {
      background: rgba($shadow-color, 0.7);
    }
  }
}

// CSS transition classes
.animated-item {
  // appearing ListItem
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    box-shadow: 0 9px 0px 0px $bg-color, 0 -9px 0px 0px $bg-color,
      12px 0 8px -4px rgba($brand-color, 0.4),
      -12px 0 8px -4px rgba($brand-color, 0.4);
    transition: all 500ms ease-in;
  }

  &-enter-done {
    box-shadow: 0;
    transition: all 500ms ease-in;
  }

  // disappearing ListItem
  &-exit {
    display: none;
  }

  &-exit-active {
    display: none;
  }
}
