.primary-button {
  font-family: $font-family;
  position: relative;
  font-weight: 500;
  color: $text-white;
  font-size: $m-font;
  text-transform: uppercase;
  padding: four-by(2) four-by(4);
  line-height: 1.2;
  text-decoration: none;
  display: block;
  background: $button-bg;
  border: 0;
  min-height: 40px;
  cursor: pointer;
  width: auto;

  &:disabled {
    cursor: not-allowed;
    background: $button-disabled;
  }

  @include breakpoint($medium) {
    font-size: $s-font;
  }

  &--disabled {
    cursor: not-allowed;
    background: $button-disabled;
  }
}

.disabled-button {
  cursor: not-allowed;
}

.disabled-google-button {
  pointer-events: none;
}

.link-button {
  position: relative;
  display: inline-block;
  font-family: $font-family;
  background: 0;
  border: 0;
  outline: 0;
  font-size: $m-font;
  color: $text-normal;
  cursor: pointer;
  padding: four-by(2) 0;
  text-decoration: underline;
  text-transform: initial;

  &:hover {
    color: $text-orange;
  }

  &:disabled {
    cursor: not-allowed;
    text-decoration: none;
    color: $gray-bg2;

    &:hover {
      color: $gray-bg2;
    }
  }
}
