.primary-button {
  font-family: $font-family;
  position: relative;
  font-weight: 500;
  color: $text-white;
  font-size: $m-font;
  text-transform: uppercase;
  padding: 8px 16px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  background: $button-bg;
  border: 0;
  min-height: 40px;
  cursor: pointer;

  @include breakpoint($medium) {
    font-size: $s-font;
  }
}

.disabled-button {
  cursor: not-allowed;
}

.disabled-google-button {
  pointer-events: none;
}

.link-button {
  font-family: $font-family;
  background: 0;
  border: 0;
  outline: 0;
  font-size: $m-font;
  color: $text-normal;
  cursor: pointer;
  padding: 12px 0 12px 0;
  text-decoration: underline;
  text-transform: capitalize;

  &:hover {
    color: $text-orange;
  }
}
