.primary-button {
  font-weight: 600;
  color: $text-white;
  font-size: 10px;
  text-transform: uppercase;
  padding: 8px 16px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  background: $button-bg;
  border: 0;
}

.disabled-button {
  pointer-events: none;
}
