.primary-button {
  font-family: $font-family;
  position: relative;
  font-weight: 500;
  color: $text-white;
  font-size: $m-font;
  text-transform: uppercase;
  padding: four-by(2) four-by(4);
  line-height: 1.2;
  text-decoration: none;
  display: block;
  background: $button-bg;
  border: 0;
  margin: 0;
  min-height: 40px;
  cursor: pointer;
  width: auto;
  outline: 0;
  -webkit-appearance: none;

  &:disabled {
    cursor: not-allowed;
    background: $button-disabled;
  }

  @include breakpoint($medium) {
    font-size: $s-font;
  }

  &--disabled {
    cursor: not-allowed;
    background: $button-disabled;
  }
}

.disabled-button {
  cursor: not-allowed;
}

.disabled-google-button {
  pointer-events: none;
}

.link-button {
  position: relative;
  display: inline-block;
  font-family: $font-family;
  background: 0;
  border: 0;
  outline: 0;
  font-size: $m-font;
  color: $text-normal;
  cursor: pointer;
  padding: four-by(2) 0;
  text-decoration: underline;
  text-transform: initial;

  &:hover {
    color: $text-orange;
  }

  &:disabled {
    cursor: not-allowed;
    text-decoration: none;
    color: $gray-bg2;

    &:hover {
      color: $gray-bg2;
    }
  }
}

.danger-button {
  background-color: rgba($danger, 0.1);
  border: 2px solid $danger;
  box-sizing: border-box;
  color: $danger;
  cursor: pointer;
  display: block;
  font-family: $font-family;
  font-size: $m-font;
  font-weight: 500;
  line-height: 1.2;
  min-height: 40px;
  padding: four-by(2) four-by(4);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  outline: 0;

  &:hover {
    background-color: $danger;
    color: $bg-color;
  }

  &:disabled {
    cursor: not-allowed;
    border: 2px solid $button-disabled;
    background: $button-disabled;
    color: $text-white;
  }
}

.outline-button {
  font-family: $font-family;
  background: transparent;
  border: 0;
  border: 1px solid $border-focus;
  color: $border-focus;
  cursor: pointer;
  display: block;
  font-size: $m-font;
  font-weight: 500;
  line-height: 1.2;
  min-height: 40px;
  padding: four-by(2) four-by(4);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  outline: 0;
}
