$green: #08ab6b;
$light-green: #96c93d;
$red: #fc4a1a;
$red-light: #e0a5a5;
$gray1: #646c73;
$gray2: #d1d3d4;
$gray3: #e6e7e8;
$gray4: #a5a7aa;
$black: #000;
$blue: #4285f4;
$white: #fff;
$white2: #fefefe;
$yellow: #ffd900;
$gold: #c48b31;
$orange: #fca729;
$dark-orange: #ef9b1f;
$brown: #c48b31;
$gray: #6b757f;
$gray-dark: #555f69;

// Colours by roles
$app-bg: $white2;
$bg-color: $white;
$border-color: $gray2;
$border-focus: $dark-orange;
$border-light: $gray3;
$brand-color: $gold;
$button-bg: $dark-orange;
$button-disabled: $gray4;
$card-color-1: $dark-orange;
$card-color-2: $red;
$chevron-active: $black;
$chevron-active: $gold;
$chevron-not-active: $gray4;
$chevron-not-active: $yellow;
$container-bg: $white;
$danger-light: $red-light;
$danger: $red;
$google-blue: $blue;
$gray-bg: $gray2;
$gray-bg2: $gray3;
$item-border: $gray3;
$link-color: $dark-orange;
$message-bg-gray: $gray1;
$message-bg-green: $green;
$message-bg-red: $red;
$orange-bg: $dark-orange;
$overlay-color: $black;
$restore-blue: $blue;
$restore-color: $app-bg;
$shadow-color: $black;
$success-bg: $light-green;
$success: $green;
$switch-dot-color: $gold;
$switch-dot-disabled: $gray2;
$switch-slider-active: $orange;
$switch-slider-disabled: $gray3;
$text-black: $black;
$text-dark: $gray-dark;
$text-normal: $gray;
$text-orange: $dark-orange;
$text-white: $white;
