.primary-input {
  background-color: $bg-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
  color: $text-normal;
  display: block;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.2;
  outline: 0;
  padding: 10px 12px;
  resize: vertical;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  &::placeholder {
    color: $text-normal;
  }

  &:focus {
    border: 1px solid rgba($border-focus, 0.54);
    box-shadow: 0 0 0 2px rgba($border-focus, 0);
  }
}

.primary-textarea {
  background-color: $bg-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
  color: $text-normal;
  display: block;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.2;
  min-height: 65px;
  outline: 0;
  padding: 10px 12px;
  resize: vertical;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  &::placeholder {
    color: $text-normal;
  }

  &:focus {
    border: 1px solid rgba($border-focus, 0.54);
    box-shadow: 0 0 0 2px rgba($border-focus, 0);
  }
}

.primary-select {
  background: url('../../assets/images/chevron-down-solid.svg') no-repeat right
    10px center/10px $bg-color;
  border: 0;
  box-sizing: border-box;
  color: $text-normal;
  display: block;
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.2;
  outline: 0;
  text-transform: capitalize;
  width: auto;
  height: 36px;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  padding: 6px 25px 6px 8px;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
}

input:disabled,
textarea:disabled {
  background: transparent;
}
