@mixin breakpoint($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin height-breakpoint($height) {
  @media only screen and (min-height: $height) {
    @content;
  }
}

@mixin show-for($width) {
  display: none;

  @media only screen and (min-width: $width) {
    display: block;
  }
}

@mixin hide-for($width) {
  display: block;

  @media only screen and (min-width: $width) {
    display: none;
  }
}

@function four-by($multiplier) {
  @return $multiplier * 4px;
}

@mixin constant-size($dimension) {
  width: $dimension;
  min-width: $dimension;
  max-width: $dimension;
  height: $dimension;
  min-height: $dimension;
  max-height: $dimension;
  flex-shrink: 0;
}
