.hidden {
  display: none;
}

.wrapper {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.z-index-high {
  z-index: 9;
}

.show-for-large {
  display: none;

  @include breakpoint($large) {
    display: block;
  }
}

.hide-for-large {
  display: block;

  @include breakpoint($large) {
    display: none;
  }
}
