// Screen sizes
$xxsmall: 320px;
$xsmall: 360px;
$small: 640px;
$medium: 800px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

// fonts
$font-family: 'Montserrat', sans-serif;
// fonts sizes
$s-font: 14px;
$m-font: 16px;
$l-font: 18px;
$xl-font: 20px;
$xxl-font: 24px;
$xxxl-font: 32px;

// margins
$xs-margin: 2px;
$s-margin: 4px;
$m-margin: 8px;
$l-margin: 16px;
$xl-margin: 32px;
$xxl-margin: 64px;
$xxxl-margin: 128px;

// paddings
$s-padding: 4px;
$m-padding: 8px;
$l-padding: 16px;
$xl-padding: 32px;
$xxl-padding: 64px;
$xxxl-padding: 128px;
