// Screen sizes
$xxsmall: 320px;
$xsmall: 360px;
$small: 640px;
$medium: 800px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;
$quad-hd: 2560px;
$ultra-hd: 3840px;

// fonts
$font-family: 'Montserrat', sans-serif;
// fonts sizes
$s-font: 14px;
$m-font: 16px;
$l-font: 18px;
$xl-font: 20px;
$xxl-font: 24px;
$xxxl-font: 32px;
