/**
 * Table of content
 * 1. Reset styles
 * 2. Partials
 * 3. Global styles
 */

// 1. Reset
@import 'reset';

// 2. Partials
@import 'partials';

// 3. Global styles
@import './utils';
@import './buttons';
@import './forms';
