.authbox {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $container-bg;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
  margin-bottom: 20px;
  text-align: center;
  min-height: 300px;
  flex-direction: column;
  width: 250px;

  @include breakpoint($xsmall) {
    width: 300px;
  }

  @include breakpoint($large) {
    width: 55%;
    flex-direction: row;
  }

  &__left {
    width: auto;
    box-sizing: border-box;
    height: 50%;
    padding: 20px;
    background: url('../../assets/images/auth-intro.jpg') center;
    position: relative;

    @include breakpoint($large) {
      background-size: auto 100%;
      width: 50%;
      height: auto;
    }
  }

  &__right {
    width: auto;
    box-sizing: border-box;
    min-width: 240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint($large) {
      width: 50%;
    }
  }

  &__heading {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: $text-normal;
    margin-bottom: 16px;
    text-align: left;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: $text-normal;
    text-align: left;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .app-logo {
      @include breakpoint($large) {
        margin-bottom: 8px;
      }
    }
  }

  &__button-header {
    font-size: $s-font;
    line-height: 1.2;
    color: $text-normal;
    margin-bottom: 6px;
  }

  &__footer {
    margin-top: 16px;
    font-size: $s-font;
    line-height: 1.2;
    color: $text-normal;
  }

  &__link {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button-wrapper {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 166px;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;

    @include breakpoint($large) {
      margin-top: 8px;
    }
  }

  &__button {
    width: 100%;
    width: 166px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
  }
}

.google-button {
  &__img {
    height: 40px;
  }
}
