.authbox {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $container-bg;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
  margin-bottom: 20px;
  text-align: center;
  min-height: 300px;

  &__left {
    width: 50%;
    padding: 26px;
    background: url('/client/src/assets/images/auth-intro.jpg') center;
    position: relative;
  }

  &__right {
    width: 50%;
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__heading {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: $text-normal;
    margin-bottom: 16px;
    text-align: left;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: $text-normal;
    text-align: left;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .app-logo {
      margin-bottom: 6px;
    }
  }

  &__sign-in {
    font-size: 14px;
    line-height: 1.2;
    color: $text-normal;
    margin-bottom: 6px;
  }

  &__footer {
    font-size: 12px;
    line-height: 1.2;
    color: $text-normal;
  }

  &__link {
    text-decoration: none;
  }
}

.google-button {
  &__img {
    height: 40px;
  }
}
