{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["dependencies"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-spacing": ["warn"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["warn"],
    "computed-property-spacing": ["error", "never"],
    "consistent-return": ["off"],
    "jsx-a11y/click-events-have-key-events": "off",
    "dependencies/case-sensitive": "error",
    "dependencies/no-cycles": "error",
    "dependencies/require-json-ext": "error",
    "eqeqeq": ["error", "smart"],
    "func-call-spacing": ["error", "never"],
    "func-names": ["error", "never"],
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-named-default": "error",
    "import/prefer-default-export": "off",
    "key-spacing": "error",
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "no-console": "error",
    "no-else-return": "error",
    "no-debugger": ["warn"],
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multi-spaces": ["error", { "ignoreEOLComments": false }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": [
      "warn",
      { "vars": "local", "args": "none", "ignoreRestSiblings": true }
    ],
    "no-use-before-define": "error",
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", { "destructuring": "all" }],
    "prefer-destructuring": "error",
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["warn", "always"],
    "space-before-blocks": "error",
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "import/default": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["index", "sibling", "parent", "internal"]
        ],
        "newlines-between": "always"
      }
    ],
    "import/no-useless-path-segments": "error",
    "react/jsx-filename-extension": false,
    "react/require-default-props": false
  },
  "globals": {
    "_": false,
    "window": false,
    "fetch": false,
    "document": false
  },
  "overrides": [
    {
      "files": ["client/tests/__mocks__/*.*"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
