.toolbar {
  background: $bg-color;
  box-shadow: 0 2px 10px rgba($shadow-color, 0.1);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    position: relative;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__company-logo {
    height: 28px;
  }

  &__company-link {
    display: block;
    margin-right: 16px;
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
