.toolbar {
  background: $gray-bg;
  box-shadow: 0 3px 4px rgba($shadow-color, 0.15);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    position: relative;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__company-logo {
    height: 32px;
  }

  &__company-link {
    display: block;
    margin-right: 16px;
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
