@import 'partials';

.invite-user {
  box-shadow: 0 0 5px rgba($shadow-color, 0.15);
  box-sizing: border-box;
  padding: four-by(4);
  margin: 0;
  width: 100%;
  text-align: left;
  color: $text-normal;
  font-size: $m-font;
  line-height: 1.2;
  max-width: 285px;

  &__email {
    font-weight: 700;
    word-break: break-all;
  }

  &__message {
    margin-bottom: four-by(4);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
