@import 'partials';

.members-form {
  display: flex;

  &__input {
    margin-right: four-by(2);

    &--disabled {
      cursor: not-allowed;
      color: $button-disabled;
    }
  }

  span {
    white-space: nowrap;
  }
}
