.activities-list {
  &__heading {
    color: $text-normal;
    font-size: $m-font;
    margin-bottom: $l-margin;
  }

  &__content {
    position: relative;
  }

  &__list {
    max-height: 120px;
    overflow: auto;

    @include height-breakpoint($xsmall) {
      max-height: 150px;
    }

    @include height-breakpoint($small) {
      max-height: 450px;
    }
  }

  li:not(:last-of-type) {
    padding-bottom: 16px;
    margin-bottom: $l-margin;
    border-bottom: 1px solid $border-color;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }
}
