.activity {
  display: flex;
  align-items: flex-start;

  &__message {
    text-align: left;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__action {
    font-size: $s-font;
    line-height: 1.2;
    color: $text-dark;
    font-weight: 500;
  }

  &__date {
    color: $text-normal;
    font-size: $s-font;
    margin-top: 6px;
  }

  &__link {
    font-style: italic;
    text-decoration: underline;
    color: $link-color;

    &:visited {
      color: $text-dark;
      &:hover {
        color: $link-color;
      }
    }
  }

  &__avatar {
    margin-right: 16px;

    img {
      width: 32px;
    }

    &--error {
      .comment__image {
        height: 22px;
      }
    }
  }

  svg {
    height: 40px;

    path {
      fill: $text-normal;
    }
  }
}
