.activity {
  display: flex;
  align-items: flex-start;

  &__message {
    text-align: left;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }

  &__action {
    span {
      font-size: $s-font;
      line-height: 1.2;
      color: $text-normal;
      font-weight: 500;
    }

    em {
      display: inline-block;
      width: auto;
      max-width: 150px;
      font-style: normal;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: sub;
    }
  }

  &__item {
    word-wrap: break-word;
  }

  &__date {
    color: $text-normal;
    font-size: $s-font;
    margin-top: four-by(2);
  }

  &__link {
    text-decoration: underline;
    color: $text-normal;

    &:hover {
      color: $link-color;
    }

    &:visited {
      color: $text-normal;
      &:hover {
        color: $link-color;
      }
    }
  }

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: four-by(4);
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
