@import 'partials';

.toolbar-item {
  position: relative;
  margin-right: four-by(2);

  &__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    border: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    outline: 0;
    svg {
      height: 16px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__icon-plus {
    height: 8px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
