.password-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $text-normal;

  &--error {
    color: red;
  }

  &__input {
    &--error {
      border: 1px solid red;
    }
  }
}
