.reset-password {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 350px;
  background: #fff;
  filter: drop-shadow(0 2px 2px $gray2);

  display: flex;
  flex-direction: column;

  &__email-label {
    display: flex;
    flex-direction: column;
    font-size: $s-font;
    color: $text-normal;
  }

  &__email-input {
    margin: four-by(1) 0 four-by(1);
  }

  &__body {
    padding: four-by(4) four-by(4);
  }

  &__heading {
    font-size: $xl-font;
    color: $text-normal;
    text-align: center;
    padding: four-by(2) four-by(4);
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
  }

  &__message-error {
    display: block;
    color: $danger;
    margin-bottom: four-by(1);
  }
}
