.Sign-Up-Form {
  &__heading {
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
  }

  &__form {
    font-size: $m-font;
    color: $text-normal;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .primary-button {
      text-transform: capitalize;
    }
  }

  &__confirmation {
    margin-top: 16px;
    color: $text-normal;
    line-height: 1.5;
  }
}
