.Sign-Up-Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;

  &__label {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: left;

    &--valid {
      color: $success;
    }
    &--invalid {
      color: $danger;
    }
  }

  &__input {
    min-width: 250px;
    &--valid,
    &--valid:focus {
      border-color: $success;
    }
    &--invalid,
    &--invalid:focus {
      border-color: $danger;
    }
  }

  &__feedback {
    width: 100%;
    font-size: $s-font;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
  }

  &__feedback-icon {
    display: block;
    padding-right: 8px;
    &--valid {
      svg {
        width: 14px;
        path {
          fill: $success;
        }
      }
    }
    &--invalid {
      svg {
        width: 12px;
        path {
          fill: $danger;
        }
      }
    }
  }

  &__feedback-info {
    &--valid {
      color: $success;
    }
    &--invalid {
      color: $danger;
    }
  }
}
