.sign-in {
  &__heading {
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
  }

  &__form {
    font-size: $m-font;
    color: $text-normal;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: four-by(4);

    .primary-button {
      text-transform: capitalize;
    }
  }

  &__confirm {
    position: relative;
  }

  &__error {
    text-align: left;
    font-size: $s-font;
    padding: four-by(2) 0;
    color: $danger;
  }

  &__link {
    color: $link-color;
    font-style: italic;
    text-decoration: none;

    &:hover {
      color: $text-black;
      text-decoration: underline;
    }

    &:visited {
      color: $text-black;
      &:hover {
        color: $link-color;
      }
    }
  }

  &__forgot-password {
    color: $text-normal;
    line-height: 1.2;
    text-align: left;
    padding-top: four-by(4);
  }
}
