.account-created {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $container-bg;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
  text-align: center;
  flex-direction: column;
  width: 250px;
  align-items: center;
  padding: 32px;

  @include breakpoint($xsmall) {
    width: 300px;
  }

  &__heading {
    margin-bottom: 16px;
  }

  &__message {
    width: 100%;
    color: $text-normal;
    font-size: $m-font;
    text-align: left;
    line-height: 1.2;
  }

  &__link {
    color: $link-color;
    font-style: italic;
    text-decoration: none;

    &:hover {
      color: $text-black;
      text-decoration: underline;
    }

    &:visited {
      color: $text-black;
      &:hover {
        color: $link-color;
      }
    }
  }
}
