.filter-box {
  display: inline-flex;
  align-items: center;

  &__label {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    color: $text-light;
    text-transform: uppercase;
    margin-right: 8px;
  }

  &__select {
    font-size: 12px;
    color: $text-light;
    background-color: $bg-color;
    padding: 6px 20px 6px 8px;
    border: 0;
    border-radius: 30px;
    background-image: url('../../assets/images/chevron-down-solid.svg');
    background-position: center right 8px;
    background-repeat: no-repeat;
    background-size: 10px;
    margin-right: 8px;
    box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
    text-transform: capitalize;
    -webkit-appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}
