.products-list {
  &__item {
    background-color: $bg-color;
    display: block;
    margin: 10px 0;
    position: relative;

    input:checked ~ label {
      color: $text-normal;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__item--green {
    input:checked ~ label {
      &:after {
        background-color: $success;
        border-color: $success;
      }
    }

    .products-list__label {
      &::before {
        background-color: $success-bg;
      }
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-size: 35px;
      }
    }
  }

  &__item--blue {
    input:checked ~ label {
      color: $text-normal;
      &:after {
        background-color: $restore-blue;
        border-color: $restore-blue;
      }
    }

    .products-list__label {
      &::before {
        background-color: $restore-color;
      }
      &::after {
        background-image: url('../../assets/images/level-up-alt-solid.svg');
        background-size: 12px;
        background-position: center;
      }
    }
  }

  &__icon {
    margin-right: 16px;
  }

  &__label {
    box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: $text-normal;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    background: $bg-color;
    transition: all 0.1s;

    &:hover {
      box-shadow: 0 3px 4px rgba($card-color-1, 0.15);
      transition: all 0.1s;
      transform: scale(1.02);
    }

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid $border-color;
      background-color: $bg-color;
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.2;
  }

  &__author {
    font-size: 11px;
    line-height: 1.2;
    color: $text-light;
    margin-top: 5px;
    text-transform: capitalize;
  }
}
