.voting-box {
  position: absolute;
  right: 0px;
  margin-right: 100px;
  z-index: 3;
  height: 40px;
  padding: 0 10px;
  background-color: $bg-color;
  outline: none;
  border: 1px solid $gray4;
  color: $gray4;
  font-size: 14px;

  &__icon {
    display: inline-block;
    margin-right: 10px;
    height: 14px;
  }

  &__voted {
    transition: all 0.1s;
    border: 2px solid $success;
  }

  &:hover {
    box-shadow: 0 0 3px rgba($shadow-color, 0.3);
  }
}
