.user-bar {
  position: relative;

  &__button {
    border: 0;
    text-align: left;
    cursor: pointer;
    position: relative;
    color: $text-white;
    font-size: 12px;
    line-height: 1.2;
    text-decoration: none;
    outline: none;
    background: transparent;
  }

  &__avatar {
    height: 28px;
    box-shadow: 0px 0px 5px rgba($shadow-color, 0.36);
  }

  &__menu-button {
    background: transparent;
    border: 0;
  }

  &__menu-icon {
    height: 16px;
  }

  &__menu-wrapper {
    width: 180px;
    padding: 16px;
    background: $bg-color;
    position: absolute;
    top: 50px;
    right: 0;
    box-shadow: 0 1px 3px rgba($shadow-color, 0.15);

    &::before {
      right: 7px;
      top: -10px;
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $bg-color;
    }
  }

  &__menu-item {
    cursor: initial;
    padding: 8px 0;
    color: $text-normal;
    font-size: 12px;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;

    &:first-child {
      padding-top: 0;
      color: $text-light;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    span {
      margin-left: 4px;
    }

    a {
      text-decoration: none;
    }

    a:active,
    a:link,
    a:visited,
    a:hover {
      color: $text-normal;
    }
  }

  &__menu-logout {
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
    color: $text-normal;
    font-size: 12px;
    line-height: 1.2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-data {
    font-size: 12px;
    line-height: 1.2;
    color: $text-normal;
    margin-right: 8px;
    margin-bottom: 3px;

    &:first-child {
      color: $text-light;
    }

    &:nth-child(2) {
      margin-bottom: 0;
    }
  }

  &__icon {
    height: 20px;
  }

  &__logged {
    display: flex;
    flex-direction: column;
  }
}
