.app-header {
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    color: $brand-color;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
  }

  &__logo {
    height: 42px;
  }
}
