.products {
  background-color: $container-bg;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__heading {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: $text-normal;
  }

  &__info {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    color: $text-light;
    text-align: right;
    text-transform: uppercase;
  }

  &__show-more {
    background: transparent;
    color: $text-light;
    width: 36px;
    height: 36px;
    border: 2px solid $border-color;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
    }

    &::before {
      border-style: solid;
      border-width: 4px 4px 0 0;
      content: '';
      display: inline-block;
      left: -1px;
      height: 7px;
      transform: rotate(135deg);
      position: relative;
      vertical-align: top;
      width: 7px;
    }
  }

  &__message {
    box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
    box-sizing: border-box;
    padding: 20px 30px;
    width: 100%;
    text-align: left;
    color: $text-normal;
    transition: color 200ms ease-in;
  }
}
