.list-item-name {
  position: relative;

  &__input {
    font-family: $font-family;
    border: 0;
    color: $text-dark;
    font-size: $l-font;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: four-by(1);

    &--disabled {
      color: $button-disabled;
      border-color: $button-disabled;
    }
  }
}
