@import 'partials';

.auth-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: four-by(2);

  &__label {
    width: 100%;
    padding: four-by(1) 0;
    display: flex;
    justify-content: space-between;

    &--valid {
      color: $success;
    }
    &--invalid {
      color: $danger;
    }
  }

  &__input {
    &--valid,
    &--valid:focus {
      border-color: $success;
    }
    &--invalid,
    &--invalid:focus {
      border-color: $danger;
    }

    @include breakpoint($xsmall) {
      min-width: 250px;
    }
  }

  &__feedback {
    width: 100%;
    font-size: $s-font;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: four-by(1) 0;
    overflow-wrap: break-word;
  }

  &__icon {
    display: block;
    &--valid {
      svg {
        width: 14px;
        path {
          fill: $success;
        }
      }
    }
    &--invalid {
      padding-right: four-by(2);
      svg {
        width: 12px;
        path {
          fill: $danger;
        }
      }
    }
  }

  &__feedback-info {
    &--valid {
      color: $success;
    }
    &--invalid {
      color: $danger;
    }
  }
}
