.pass-recovery-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  background: #fff;
  filter: drop-shadow(0 2px 2px $gray2);
  display: flex;
  flex-direction: column;

  @include breakpoint($small) {
    width: 70%;
  }

  @include breakpoint($medium) {
    width: 60%;
  }

  @include breakpoint($large) {
    width: 50%;
  }

  &__heading {
    font-size: $xl-font;
    color: $text-normal;
    text-align: center;
    padding: four-by(2) four-by(4);
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
    line-height: 1.3;

    em {
      display: inline-block;
      text-transform: lowercase;
      font-style: normal;
      font-size: $l-font;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: sub;
      max-width: 90%;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-size: $s-font;
    color: $text-normal;
    text-transform: capitalize;
    margin-bottom: four-by(2);

    .primary-input {
      margin: four-by(2) 0;
    }
  }

  &__body {
    padding: four-by(4);
  }

  &__error {
    margin-top: four-by(2);
    color: $danger;
  }
}
