.reset-password {
  background: $app-bg;
  display: flex;
  filter: drop-shadow(0 2px 2px $gray2);
  flex-direction: column;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;

  @include breakpoint($small) {
    width: 70%;
  }

  @include breakpoint($medium) {
    width: 60%;
  }

  @include breakpoint($large) {
    width: 50%;
  }

  .error-message {
    max-width: 350px;
    margin-bottom: four-by(2);
  }

  &__email-label {
    display: flex;
    flex-direction: column;
    font-size: $s-font;
    color: $text-normal;
  }

  &__email-input {
    margin: four-by(1) 0 four-by(1);
  }

  &__body {
    padding: four-by(4);
  }

  &__heading {
    font-size: $xl-font;
    color: $text-normal;
    text-align: center;
    padding: four-by(2) four-by(4);
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
  }

  &__message-error {
    display: block;
    color: $danger;
    margin-bottom: four-by(1);
  }
}
