.sign-up-form {
  &__heading {
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
  }

  &__form {
    font-size: $m-font;
    color: $text-normal;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: four-by(4);

    .primary-button {
      text-transform: capitalize;
    }
  }

  &__confirmation {
    margin-top: four-by(4);
    color: $text-normal;
    line-height: 1.5;
  }

  &__confirm {
    position: relative;
  }

  &__error {
    text-align: left;
    font-size: $s-font;
    padding: four-by(2) 0;
    color: $danger;
  }
}
