@import 'partials';

.validation-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $text-normal;
  margin-bottom: four-by(2);
  position: relative;

  &--error {
    color: $danger;

    .primary-input {
      border-color: $danger;
    }
  }

  &__input {
    margin-top: four-by(2);
  }

  &__check-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      height: 16px;
    }
  }

  &--success {
    color: $success;

    input {
      border-color: $success;
    }

    input:focus {
      border-color: $success;
    }

    .validation-input__check-icon {
      display: block;

      svg path {
        fill: $success;
      }
    }
  }

  span {
    margin-top: four-by(1);
  }
}
