.voting-box {
  height: 40px;
  min-width: 40px;
  padding: 0;
  background-color: $bg-color;
  outline: none;
  color: $text-normal;
  font-family: 'Montserrat', sans-serif;
  font-size: $m-font;
  border: 0;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &__icon {
    display: inline-block;
    margin-right: $m-margin;
    height: 14px;
  }

  &:hover {
    box-shadow: 0 0 3px rgba($shadow-color, 0.3);

    &:disabled {
      box-shadow: none;
    }
  }

  &__disabled {
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }

  svg {
    margin-right: $m-margin;
    height: 14px;

    path {
      fill: $text-normal;
    }
  }
}
