.voting-box {
  z-index: 3;
  height: 40px;
  padding: 0 10px;
  background-color: $bg-color;
  outline: none;
  color: $gray4;
  font-size: 14px;
  border: 0;
  cursor: pointer;

  &__icon {
    display: inline-block;
    margin-right: 10px;
    height: 14px;
  }

  &:hover {
    box-shadow: 0 0 3px rgba($shadow-color, 0.3);
  }

  &__disabled {
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }
}
