@import 'partials';

.input-bar {
  position: relative;
  width: 100%;
  min-height: 50px;

  &__submit {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    text-transform: uppercase;
    min-height: 36px;

    &--disabled {
      cursor: not-allowed;
      background: $gray2;
    }

    @include hide-for($large);
  }

  &__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: $bg-color;
    padding: four-by(2) 0;
  }

  &__button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 100%;
    display: flex;
    border: 0;
    border-bottom: 1px solid $border-light;
    padding: four-by(4) 0;
    outline: 0;
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
    justify-content: center;
    svg {
      height: 16px;
      margin-right: four-by(2);
    }

    &:hover {
      background: $gray-bg2;
      color: $text-dark;
    }
  }

  .error-message {
    margin-bottom: four-by(2);
  }
}
