.input-bar {
  position: relative;
  width: 100%;
  min-height: 50px;

  &__submit {
    display: none;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: $bg-color;
    padding: 8px 0;
  }

  &__button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 100%;
    display: flex;
    border: 0;
    border-bottom: 1px solid $border-light;
    padding: 17px 0;
    outline: 0;
    font-size: $s-font;
    line-height: 1.2;
    color: $text-normal;
    justify-content: center;
    svg {
      height: 16px;
      margin-right: 8px;
    }

    &:hover {
      background: $gray-bg2;
    }
  }
}
