.breadcrumbs {
  padding: 10px 0;
  margin-top: $m-margin;
  display: inline-block;

  &__list {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    font-size: $s-font;
    line-height: 1;

    /* --cohort-disabled class is disabling clicking ability
    ** for guest in the cohort list, to prevent him to go back
    ** to cohort
    */
    &--cohort-disabled {
      .breadcrumbs__list-item:nth-child(3) a {
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &__list-item {
    color: $text-normal;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    a {
      text-decoration: none;
      color: $text-normal;

      &:hover {
        text-decoration: underline;
      }
    }

    &:nth-child(2n) {
      margin: 0 $m-margin;
    }

    &:last-child {
      display: none;
    }

    &:nth-last-child(2) {
      a {
        color: $text-normal;
        font-weight: 700;
        cursor: default;
        pointer-events: none;
      }
    }

    svg {
      width: 5px;

      path {
        fill: $text-normal;
      }
    }
  }
}
