.list-archived-item {
  border-bottom: 1px solid $item-border;
  padding: four-by(4);
  position: relative;

  &:hover {
    box-shadow: 0 2px 10px rgba($shadow-color, 0.1);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    color: $text-normal;
    flex-direction: column;

    @include breakpoint($xsmall) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $m-font;
    line-height: 1.2;
    margin-bottom: four-by(2);
  }

  &__name {
    border: 0;
    color: $text-dark;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 4px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__author {
    font-size: $s-font;
    margin-top: four-by(1);
    text-transform: capitalize;
    text-overflow: ellipsis;
  }

  &__features {
    button:not(:last-of-type) {
      margin-right: four-by(4);
    }

    @include breakpoint($xsmall) {
      display: flex;
      flex-direction: column;
    }

    @include breakpoint($small) {
      display: flex;
      flex-direction: row;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    font-size: $s-font;
    margin-top: four-by(1);

    span:not(:last-of-type) {
      margin-right: four-by(4);
    }
  }

  &__confirmation {
    color: $text-dark;
  }
}
