.comments {
  position: relative;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    color: $text-normal;
    font-size: 16px;
    text-align: left;
    padding: four-by(4) 0;
    line-height: 1.2;
  }

  &__container {
    position: relative;
  }
}
