.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  box-shadow: 0 2px 10px rgba($shadow-color, 0.1);
  padding: 16px;

  &__body {
    text-align: left;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__author {
    font-size: 16px;
    line-height: 1.2;
    color: $text-normal;
    font-weight: 500;
  }

  &__date {
    color: $text-normal;
    font-size: $s-font;
    margin-top: 6px;
  }

  &__content {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 16px;
    color: $text-normal;
    overflow-wrap: break-word;
  }

  &__link {
    font-style: italic;
    text-decoration: underline;
    color: $link-color;

    &:visited {
      color: $text-normal;
    }
  }

  &__avatar {
    margin-right: 16px;

    img {
      width: 40px;
    }

    &--error {
      .comment__image {
        height: 22px;
      }
    }
  }

  svg {
    height: 40px;

    path {
      fill: $text-normal;
    }
  }
}
