@import 'partials';

.new-comment {
  padding-bottom: four-by(4);
  text-align: left;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .ss-textarea {
    margin-bottom: four-by(4);
    width: 100%;
  }

  .primary-button {
    position: relative;
    font-size: $m-font;
    width: 100%;
    height: 44px;
  }
}
