@import 'partials';

.license {
  width: 100%;
  box-sizing: border-box;
  background-color: $hover-gray-bg;
  border-radius: 2px;
  border: 1px solid $border-light;
  margin: four-by(2) 0;
  max-height: 500px;
  overflow: scroll;
  padding: four-by(2);
  font-size: $s-font;
  color: $text-dark;

  &-expand {
    &-enter {
      max-height: 0;
    }

    &-enter-active {
      max-height: 500px;
      transition: all 200ms ease-out;
    }

    &-exit {
      max-height: 500px;
    }

    &-exit-active {
      max-height: 0;
      transition: all 200ms ease-out;
    }
  }
}
