.member-box {
  position: relative;
  top: -36px;
  width: 270px;
  box-shadow: 0px 0px 5px rgba($shadow-color, 0.15);

  &__avatar {
    position: relative;
    align-items: center;
    background: $bg-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;

    svg {
      height: 18px;
      width: 18px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background-color: $bg-color;
    border: 0;
    z-index: 1;
    cursor: pointer;
    color: $text-normal;
  }

  &__details {
    box-sizing: border-box;
    width: 100%;
    background-color: $bg-color;
  }

  &__heading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__name {
    font-weight: 500;
    white-space: nowrap;
    padding: 0 15px 0 10px;
  }

  &__role {
    font-weight: 400;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;

    &:last-child {
      padding: 10px 0 0;
      justify-content: center;
    }
  }

  &__help-button {
    font-size: 14px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: $text-normal;
  }

  &__confirmation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    h4 {
      text-align: center;
      line-height: 1.2;
      padding: 0 0 10px;
    }
  }

  &__role-description {
    width: 100%;
    font-weight: 400;
    color: $text-normal;
    font-size: 14px;
    line-height: 1.25;
    padding: 5px 0 0;
  }
}
