.app-logo {
  display: flex;
  align-items: center;

  span.app-logo__icon {
    height: 16px;
    svg path {
      fill: $dark-orange;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    display: block;
    font-weight: 700;
    color: $dark-orange;
    margin-right: four-by(1);
    letter-spacing: 1px;
  }
}
