.app-logo {
  display: flex;
  align-items: center;

  &__icon {
    height: 16px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    display: block;
    font-weight: 700;
    color: $dark-orange;
    margin-right: 4px;
    letter-spacing: 1px;
  }
}
