.archived-message {
  position: relative;
  width: 50%;
  margin: 50px auto;
  text-align: center;

  &__header {
    font-weight: 600;
    font-size: 20px;
    color: $text-normal;
  }

  &__button {
    display: block;
    padding: 12px;
    margin: 25px auto;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: $gray-bg;
    box-shadow: 0 3px 4px rgba($shadow-color, 0.15);
    transform: scale(1);
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
