.archived-message {
  display: table;
  position: relative;
  width: 70%;
  margin: $xl-margin auto;
  text-align: center;
  background: $bg-color;
  padding: 20px 25px;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);

  @include breakpoint($xsmall) {
    width: auto;
  }

  &__body {
    position: relative;
    margin-top: $l-margin;
  }

  &__button {
    margin: 0 auto $l-margin;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__header {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $text-normal;
  }
}
