.archived-message {
  display: table;
  position: relative;
  width: auto;
  margin: 50px auto;
  text-align: center;
  background: $bg-color;
  padding: 20px 25px;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);

  &__body {
    min-height: 80px;
  }

  &__button {
    margin: 0 auto 16px;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__header {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $text-normal;
    margin-bottom: 16px;
  }
}
