@import 'partials';

.archived-message {
  display: table;
  position: relative;
  width: 70%;
  margin: four-by(8) auto;
  text-align: center;
  background: $bg-color;
  padding: four-by(4) four-by(8);
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
  max-width: 465px;

  @include breakpoint($xsmall) {
    width: auto;
  }

  &__body {
    position: relative;
    margin-top: four-by(4);
  }

  &__button {
    margin: 0 auto four-by(4);

    &:hover {
      transform: scale(1.02);
    }
  }

  &__header {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $text-normal;
  }
}
