.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__placeholder {
    display: block;
    width: 80%;
    height: 80%;
  }

  svg {
    width: 80%;
    height: 80%;

    path {
      fill: $text-normal;
    }
  }
}
