@import 'partials';

.avatar {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;

  &__placeholder {
    display: block;
    width: 80%;
    height: 80%;
  }

  svg {
    @include constant-size(16px);

    path {
      fill: $text-normal;
    }
  }
}
