@import 'partials';

.plus-card {
  align-items: center;
  background: $gray-bg2;
  border: 0;
  box-shadow: 0 2px 10px rgba($shadow-color, 0.1);
  box-sizing: border-box;
  color: $text-normal;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: four-by(2);
  width: 100%;

  &__heading {
    color: $text-dark;
    font-size: $s-font;
    font-weight: 700;
    font-family: $font-family;
    letter-spacing: 0.2px;
    line-height: 1.2;
    margin-bottom: four-by(1);
    text-transform: uppercase;
    word-break: break-word;
  }

  svg {
    height: 20px;
    path {
      fill: $text-dark;
    }
  }
}
