@import 'partials';

.collection {
  width: 100%;
  margin: four-by(4) 0;
  border: 0;

  &__heading {
    padding: four-by(2) 0;
    display: flex;
    align-items: center;
    font-size: $l-font;
    line-height: 1;
    color: $text-dark;
    border-bottom: 1px solid $border-light;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2px;

    svg {
      height: 14px;
      margin-right: four-by(2);

      path {
        fill: $text-dark;
      }
    }
  }

  &__body {
    position: relative;
    padding: four-by(2) 0 0;
    min-height: 100px;
  }

  &__item {
    width: 100%;
    margin: 0 auto four-by(5);

    a {
      text-decoration: none;
    }
  }

  &__list {
    .collection__item {
      height: 80px;

      @include breakpoint($xsmall) {
        height: 65px;
      }

      @include breakpoint($small) {
        height: 50px;
      }
    }
  }

  &__tiles {
    @include breakpoint($small) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 210px);
      grid-gap: 25px 25px;
    }

    .collection__item {
      height: 120px;

      @include breakpoint($small) {
        margin: 0 auto 0;
      }
    }
  }

  &__button {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
  }
}
