.collection {
  width: 100%;
  margin: 16px 0 25px 0;
  border: 0;

  &__heading {
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    color: $text-normal;
    border-bottom: 1px solid $border-light;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2px;

    svg {
      height: 14px;
      margin-right: 8px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__body {
    padding: 16px 0 0;
  }

  &__item {
    width: 100%;
    margin: 0 auto 20px;

    a {
      text-decoration: none;
    }
  }

  &__list {
    .collection__item {
      height: 110px;

      @include breakpoint($small) {
        height: 80px;
      }
    }
  }

  &__tiles {
    @include breakpoint($small) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 180px);
      grid-gap: 30px 30px;
    }

    .collection__item {
      height: 96px;

      @include breakpoint($small) {
        margin: 0 auto 0;
      }
    }
  }

  &__button {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
  }
}
