.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: four-by(4) 0;

  h4 {
    width: 100%;
    color: $text-dark;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    padding: 0 0 four-by(4);
  }

  button:first-of-type {
    margin-right: four-by(4);
  }

  em {
    display: inline-block;
    max-width: 150px;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: sub;
  }
}
