.cookie-consent {
  width: 100%;
  text-align: center;
  padding: four-by(4);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  max-width: 1440px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 11;
  flex-direction: column;

  @include breakpoint($large) {
    flex-direction: row;
  }

  &::before {
    content: '';
    display: block;
    background: $gray-bg2;
    position: absolute;
    left: -999999px;
    top: 0;
    bottom: 0;
    right: -999999px;
    z-index: 10;
  }

  &__content {
    color: $text-normal;
    font-size: $s-font;
    line-height: 1.2;
    z-index: 11;
    margin: 0 four-by(4) four-by(4);

    @include breakpoint($large) {
      margin: 0 four-by(4) 0;
    }
  }

  &__link {
    font-style: italic;
    color: $text-normal;
    &:hover {
      color: $dark-orange;
    }
  }

  .primary-button {
    z-index: 11;
    cursor: pointer;
  }
}
