@import 'partials';

.desc-textarea {
  cursor: pointer;
  margin-bottom: four-by(2);
  display: flex;
  align-items: stretch;

  &__textarea {
    resize: none;
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
    cursor: text;
  }

  &__submit {
    &--disabled {
      cursor: not-allowed;
      background: $gray2;
    }
    @include hide-for($large);
  }
}
