.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: $bg-color;
  box-shadow: 0px 0px 5px rgba($shadow-color, 0.15);
  box-sizing: border-box;
  width: 90%;
  max-width: 600px;
  z-index: 10;

  @include breakpoint($xsmall) {
    min-width: 320px;
  }

  &__header {
    padding: $m-padding;
    color: $text-normal;
    font-size: $m-font;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 1.2;
    border-bottom: 1px solid $border-light;

    @include breakpoint($xsmall) {
      font-size: 18px;
    }
  }

  &__body {
    position: relative;
  }

  &__children {
    position: relative;
    font-size: 13px;
    line-height: 1.2;
    color: $text-normal;
    padding: $l-padding $l-padding 0;
  }

  &__footer {
    padding: $l-padding;
    display: flex;
    flex-direction: column;

    @include breakpoint($xxsmall) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__heading {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__button {
    &:first-of-type {
      margin: 0 0 $l-margin;

      @include breakpoint($xxsmall) {
        margin: 0 $l-margin 0 0;
      }
    }
  }
}
