.form {
  position: relative;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  min-width: 195px;
  box-sizing: border-box;

  &__label {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    border: 1px solid $border-color;
    color: $text-normal;
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 12px;
    font-size: 12px;
    line-height: 1.2;
    color: $text-normal;
    background-color: $bg-color;
    background-clip: padding-box;
    border: 1px solid $border-color;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: 0;
    resize: vertical;

    &::placeholder {
      color: $text-normal;
    }

    &:focus {
      border: 1px solid rgba($border-focus, 0.54);
      box-shadow: 0 0 0 2px rgba($border-focus, 0);
    }
  }

  &__textarea {
    min-height: 65px;
  }
}
