.form {
  position: relative;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__label {
    margin-bottom: four-by(4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .error-message {
    display: block;
    margin-top: four-by(1);
  }
}
