.form {
  position: relative;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__label {
    margin-bottom: $l-margin;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
