.message-box {
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  text-align: left;
  color: $text-normal;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  background: $bg-color;
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.2;

  &--red {
    color: $text-normal;

    svg path {
      fill: $message-bg-red;
    }
  }

  &--gray {
    color: $text-normal;

    svg path {
      fill: $message-bg-gray;
    }
  }

  &--green {
    color: $text-normal;
    svg path {
      fill: $message-bg-green;
    }
  }

  svg {
    height: 12px;
    margin-right: 12px;
  }
}
