.message-box {
  box-shadow: 0 1px 3px rgba($shadow-color, 0.5);
  box-sizing: border-box;
  padding: four-by(4);
  display: flex;
  align-items: center;
  text-align: left;
  color: $message-bg-gray;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  background: $bg-color;
  margin: four-by(4) 0;
  font-size: $s-font;
  font-weight: 700;
  line-height: 1.4;

  span {
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    margin-right: four-by(2);
    box-sizing: border-box;
    border: 1px solid $message-bg-gray;
  }

  &--red {
    span {
      background-color: $message-bg-red;
      border-color: $message-bg-red;
    }

    svg {
      path {
        fill: $bg-color;
      }
    }
  }

  &--gray {
    box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
    font-weight: 400;
    padding: four-by(4);
    color: $text-normal;

    svg {
      path {
        fill: $message-bg-gray;
      }
    }
  }

  &--green {
    span {
      background-color: $message-bg-green;
      border-color: $message-bg-green;
    }

    svg {
      path {
        fill: $bg-color;
      }
    }
  }

  svg {
    width: 14px;
    height: 14px;
  }
}
