.name-input {
  position: relative;
  width: 100%;
  margin-bottom: $m-margin;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  &__input {
    font-size: $xl-font;
    font-weight: 700;
    line-height: 1;
    color: $text-dark;
  }

  &__submit {
    &--disabled {
      cursor: not-allowed;
      background: $gray2;
    }
    @include hide-for($large);
  }
}
