@import 'partials';

.name-input {
  position: relative;
  width: 100%;
  margin-bottom: four-by(2);
  display: flex;
  flex-direction: row;
  align-items: stretch;

  &__input {
    margin: 0;
    font-size: $xl-font;
    font-weight: 700;
    line-height: 1;
    color: $text-dark;
  }

  &__submit {
    -webkit-appearance: none;
    margin: 0;

    &--disabled {
      cursor: not-allowed;
      background: $gray2;
    }
    @include hide-for($large);
  }
}
