.page-not-found {
  &__wrapper {
    width: 100%;
    position: absolute;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__heading {
    font-size: 100px;
    font-weight: 700;
    color: $orange;
    padding: 0 0 50px;
  }

  &__error {
    font-size: 20px;
    font-weight: 500;
  }

  &__message {
    padding: 20px 40px;
    line-height: 25px;
  }
}
