@import 'partials';

.page-404 {
  &__wrapper {
    width: 100%;
    position: absolute;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__heading {
    font-size: 100px;
    font-weight: 700;
    color: $orange;
    padding: 0 0 four-by(8);
  }

  &__error {
    font-size: 20px;
    font-weight: 500;
  }

  &__message {
    padding: four-by(4) four-by(8);
    line-height: 25px;
  }

  .primary-button {
    box-sizing: border-box;
    padding: four-by(2) four-by(4);
  }
}
