.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($white, 0.75);
  cursor: not-allowed;

  &--dark {
    background-color: rgba($white, 0.75);
  }

  &--light {
    background-color: $dark-orange;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__spinner {
    position: relative;
    &--big {
      width: 40px;
      height: 40px;
    }

    &--small {
      width: 25px;
      height: 25px;
    }
  }

  &__shape1,
  &__shape2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    animation: bounce 2s infinite ease-in-out;

    &--dark {
      background-color: $dark-orange;
    }

    &--light {
      background-color: $bg-color;
    }
  }

  &__shape2 {
    animation-delay: -1s;
  }

  &__text {
    font-size: 14px;
    color: $text-light;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
