.tiles-view-item {
  box-sizing: border-box;
  display: block;
  height: 100%;
  border: 0;
  color: $text-normal;
  box-shadow: 0 2px 10px rgba($shadow-color, 0.1);
  padding: four-by(2);
  position: relative;
  cursor: pointer;
  width: 100%;

  &--orange {
    background: $card-color-1;
  }

  &--brown {
    background: $brown;
  }

  &--gray {
    background: $gray4;
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $text-white;
    padding: 0 four-by(4) four-by(2) 0;
    svg {
      height: 12px;
      width: 12px;
      min-height: 12px;
      min-width: 12px;
      margin-right: four-by(2);

      path {
        fill: $text-white;
      }
    }
  }

  &__heading {
    color: $text-white;
    font-size: $m-font;
    line-height: 1;
    text-transform: capitalize;
    word-break: break-word;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__description {
    display: block;
    color: $text-white;
    font-size: $m-font;
    line-height: 1.2;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: four-by(1);
  }

  &:hover {
    box-shadow: 0 3px 4px rgba($shadow-color, 0.35);
  }

  &__star {
    background: transparent;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
    display: block;
    padding: four-by(1);
    position: absolute;
    right: 5px;
    top: 5px;

    svg {
      height: 16px;

      path {
        fill: $text-white;
      }
    }
  }

  &__data {
    right: 8px;
    bottom: 8px;
    position: absolute;
    font-size: $m-font;
    font-weight: 500;
    text-align: right;
    color: $text-white;

    span {
      display: block;
      &:first-child {
        margin-bottom: four-by(1);
      }
    }
  }
}
