@import 'partials';

.delete-form {
  &__label {
    display: block;
    font-size: $s-font;
    font-weight: 600;
    margin-bottom: four-by(4);

    em {
      font-weight: 300;
    }
  }

  &__input {
    margin-top: four-by(1);
  }
}
