@import '_partials';

.email-notifications {
  margin-bottom: four-by(12);
  border-bottom: 1px solid $gray-bg;

  &__heading {
    font-size: $xl-font;
    font-weight: 500;
    color: $text-dark;
    margin-bottom: four-by(4);
  }

  &__list {
    overflow: hidden;
    padding-bottom: four-by(3);
  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    padding: four-by(2);
    height: 30px;
    overflow: hidden;
  }

  .alert-box {
    margin-bottom: four-by(4);
  }
}
