@import '_partials';

.email-reports {
  margin-bottom: four-by(12);
  border-bottom: 1px solid $gray-bg;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: four-by(2);
  }

  &__heading {
    font-size: $xl-font;
    font-weight: 500;
    color: $text-dark;
  }

  &__label,
  &__button {
    cursor: pointer;
    padding: four-by(2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: four-by(3);

    input {
      outline: 0;
    }
  }

  .primary-button {
    cursor: default;
    font-size: $s-font;
    white-space: nowrap;

    @include breakpoint($medium) {
      font-size: $m-font;
    }
  }

  &__button {
    padding: 0;
    margin: 0 0 0 four-by(3);

    @include breakpoint($medium) {
      margin: 0;
    }
  }
}
