@import 'partials';

.email-reports {
  border-bottom: 1px solid $border-color;
  margin-bottom: four-by(12);

  &__heading {
    font-size: 20px;
    font-weight: 500;
    color: $text-dark;
    margin-bottom: four-by(2);
  }

  &__list {
    overflow: hidden;
  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    padding: four-by(2) four-by(2) four-by(6);
    height: 50px;
    overflow: hidden;
  }
}
