@import 'partials';

.user-profile-name {
  &__data-name {
    text-transform: uppercase;
    font-size: $s-font;
    margin-bottom: 4px;
  }

  &__data-name-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    @include breakpoint($small) {
      width: auto;
    }

    span,
    form {
      width: 100%;

      @include breakpoint($small) {
        width: auto;
      }
    }

    svg {
      height: 16px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__data-value {
    color: $text-dark;
    font-weight: 500;
    font-size: $s-font;

    @include breakpoint($xsmall) {
      font-size: $m-font;
    }
  }

  &__name-form {
    display: flex;
    align-items: stretch;
  }

  &__save-button {
    -webkit-appearance: none;
    background: $button-bg;
    border-radius: 0;
    border: 0;
    color: $text-white;
    cursor: pointer;
    display: block;
    font-family: $font-family;
    font-size: $m-font;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    min-height: 40px;
    outline: 0;
    padding: four-by(2) four-by(4);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;

    svg {
      path {
        fill: $text-white;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background: $button-disabled;
    }

    @include breakpoint($medium) {
      font-size: $s-font;
    }

    &--disabled {
      cursor: not-allowed;
      background: $button-disabled;
    }
  }

  .error-message {
    display: block;
    margin-top: 5px;
  }
}
