@import 'partials';

.toolbar {
  background: $bg-color;
  box-shadow: 0 2px 10px rgba($shadow-color, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: four-by(1) four-by(4);
    position: relative;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__company-logo {
    height: 28px;
  }

  &__company-link {
    display: block;
    margin-right: four-by(4);
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
