.toolbar-link {
  position: relative;
  margin-right: 8px;

  &__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    border: 0;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    svg {
      height: 16px;
      path {
        fill: $text-light;
      }
    }
  }

  &__additional-icon {
    height: 8px;
    position: absolute;
    right: 0px;
    top: 5px;
  }
}
