.toolbar-link {
  position: relative;
  margin-right: 8px;

  &__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    background: rgba($shadow-color, 0.1);
    border: none;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    svg {
      height: 16px;
    }
  }

  &__additional-icon {
    height: 8px;
    position: absolute;
    right: 3px;
    bottom: 3px;
  }
}
