html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $app-bg;
  height: 100%;
  position: relative;
}

#root {
  height: 100%;
  position: relative;
}

.app-wrapper {
  margin-top: 32px;
  max-width: 560px;
  margin: 32px auto 0;
  position: relative;
  height: 100%;
}

.overlay {
  &::before {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($bg-color, 0.75);
    z-index: 3;
  }
}
