.about {
  &__intro {
    margin-top: $s-margin;
    width: 100%;
    background: url('../../assets/images/hero-bg.png') bottom;
    background-size: auto 260px;
    background-repeat: no-repeat;
    padding: 0 0 100px;

    @include breakpoint($small) {
      background-size: auto 350px;
      padding: 0 0 100px;
    }

    @include breakpoint($medium) {
      background: url('../../assets/images/hero-bg.png') center -450px;
      background-size: auto auto;
    }
  }

  &__intro-heading {
    font-weight: 400;
    color: $text-normal;
    text-align: center;
    font-size: 35px;
    max-width: 430px;
    margin: 0 auto;

    @include breakpoint($medium) {
      font-size: 45px;
    }

    @include breakpoint($large) {
      font-size: 52px;
    }
  }

  &__subheading {
    font-weight: 400;
    color: $text-normal;
    text-align: center;
    font-size: $m-font;
    line-height: 1.5;
    margin: $xl-margin 0 0;

    @include breakpoint($medium) {
      font-size: 18px;
      margin: $xl-margin 0 $xl-margin;
    }
  }

  &__main {
    position: relative;
    top: -1px;
    background: $orange-bg;
    padding: 0 0 32px;
    box-shadow: 0px 5px 5px $orange-bg;
  }

  &__heading {
    font-size: 24px;
    line-height: 1.2;
    color: $text-white;
    text-align: center;
    margin-bottom: $xl-margin;
  }

  &__content {
    font-size: $m-font;
    line-height: 1.2;
    color: $text-white;
    letter-spacing: 0.3px;
    margin-bottom: $l-margin;
  }

  &__cta {
    padding: 32px 20px;
    margin-bottom: $xl-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint($small) {
      margin-bottom: 0;
    }

    @include breakpoint($medium) {
      padding-bottom: 0;
    }

    @include breakpoint($large) {
      margin-bottom: calc($xl-margin + $l-margin);
    }

    a {
      text-decoration: none;
    }
  }

  &__section {
    @include breakpoint($small) {
      column-count: 2;
      column-gap: 25px;
    }

    @include breakpoint($medium) {
      max-height: 280px;
      column-gap: 40px;
    }
  }

  &__cta-heading {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: $text-normal;
    margin-bottom: $l-margin;
  }

  &__article {
    max-width: 860px;
    margin: 0 auto;
  }
}
