.about {
  &__intro {
    margin-top: 5px;
    width: 100%;
    background: url('../../assets/images/hero-bg.png') center -450px;
    padding: 0 0 150px;
  }

  &__intro-heading {
    font-weight: 300;
    color: $text-normal;
    text-align: center;
    font-size: 52px;
    padding-top: 50px;
  }

  &__subheading {
    font-weight: 400;
    color: $text-light;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
  }

  &__main {
    background: $orange-bg;
    padding: 0 0 40px;
    box-shadow: 0px 5px 5px $orange-bg;
    margin-bottom: 10px;
  }

  &__heading {
    font-size: 24px;
    line-height: 1.2;
    color: $text-white;
    text-align: center;
    margin-bottom: 32px;
  }

  &__content {
    column-count: 3;
    column-gap: 25px;
    font-size: 16px;
    line-height: 1.2;
    color: $text-white;
  }

  &__cta {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }

  &__cta-heading {
    font-size: 24px;
    line-height: 1.2;
    color: $text-normal;
    margin-bottom: 16px;
  }
}
