.input-bar {
  &__submit {
    display: none;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: $bg-color;
    padding: 16px 0;
  }
}
