.notification {
  left: 0;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  z-index: 10;
  &__wrapper {
    position: absolute;
    top: 52px;
    right: 20px;
  }

  .message-box {
    margin: 0;
  }

  &__list {
    &:last-child {
      margin: 0;
    }
  }

  &__list-item {
    margin-bottom: 25px;
  }
}
