.notification {
  left: 0;
  margin: 0 auto;
  max-width: 1440px;
  position: fixed;
  right: four-by(4);
  z-index: 10;

  &__wrapper {
    position: absolute;
    top: 52px;
    right: 0;
    padding-left: four-by(4);
  }

  .message-box {
    margin: 0;
  }

  &__list {
    &:last-child {
      margin: 0;
    }
  }

  &__list-item {
    margin-bottom: four-by(4);
  }
}
