.members-box {
  margin: 0;
  padding: 0;

  &__heading {
    font-size: 14px;
    line-height: 1.2;
    color: $text-normal;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__list-item {
    display: block;
    margin: 0 16px 16px 0;
    position: relative;
  }

  &__avatar {
    height: 100%;
    width: 100%;
  }

  &__member {
    align-items: center;
    background: $bg-color;
    border: 1px solid $border-light;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 36px;
    height: 36px;
    padding: 0;

    svg {
      height: 50%;
      width: 50%;

      path {
        fill: $text-normal;
      }
    }
  }
}
