.list-item-description {
  &--disabled {
    h2,
    span,
    p {
      color: $gray-bg2;
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }

  &__title {
    text-align: left;
    font-size: $m-font;
    color: $text-normal;
    font-weight: 500;
    margin-top: four-by(1);
  }

  &__description {
    font-size: $m-font;
    color: $text-normal;
    padding: four-by(2) 0;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 four-by(4) 0;
    overflow-wrap: break-word;
    cursor: pointer;

    &--disabled {
      cursor: default;

      a {
        cursor: pointer;
      }
    }
  }

  &__edit-field {
    font-family: $font-family;
    font-size: $m-font;
    color: $text-normal;
    line-height: 1.2;
    text-align: left;
    width: 100%;
    cursor: text;
    border: 0;
    outline: 0;
    padding: four-by(2) 0;
    margin: 0 0 four-by(4) 0;
    background: transparent;
    resize: none;

    &:focus {
      border-bottom: 1px solid $orange;
      padding-bottom: four-by(1);
    }
  }

  &__save-button {
    position: relative;
    width: 100%;
    margin-bottom: four-by(4);

    .primary-button {
      font-size: $m-font;
      width: 100%;
      height: 44px;
    }
  }

  &__link {
    font-style: italic;
    text-decoration: underline;
    color: $link-color;

    &:visited {
      color: $text-normal;

      &:hover {
        color: $text-orange;
      }
    }
  }
}
