@import 'partials';

.members-box {
  margin: 0;
  padding: 0;

  &__heading {
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
    margin-bottom: four-by(2);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__list-item {
    display: block;
    margin: 0 four-by(4) four-by(4) 0;
    position: relative;
  }

  &__avatar {
    height: 100%;
    width: 100%;
  }

  &__member {
    position: relative;
    align-items: center;
    background: $bg-color;
    border-radius: 50%;
    border: 1px solid $border-light;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    outline: 0;

    svg {
      height: 50%;
      width: 50%;

      path {
        fill: $text-normal;
      }
    }
  }
}
