.cohort-header {
  border-bottom: 1px solid $border-light;
  margin-bottom: 8px;
  svg {
    height: 20px;
    margin-right: 12px;

    path {
      fill: $text-normal;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__bottom {
    position: relative;
  }

  &__description {
    font-size: $m-font;
    line-height: 1.2;
    color: $text-normal;
    padding: 8px 0 16px;
  }

  &__heading {
    padding: 8px 0;
    display: inline-flex;
    align-items: center;
    font-size: $xxl-font;
    font-weight: 700;
    line-height: 1;
    color: $text-normal;
  }

  &__button {
    margin-bottom: 8px;
  }

  &__desc-textarea {
    margin-bottom: 8px;
  }

  &--clickable {
    cursor: pointer;
  }
}
