@import 'partials';

.cohort-name {
  &__top {
    position: relative;
    display: flex;
    align-items: center;

    svg {
      height: 20px;
      margin-right: four-by(4);

      path {
        fill: $text-dark;
      }
    }

    &--disabled {
      svg path {
        fill: $gray-bg2;
      }
    }
  }

  &__heading {
    padding: four-by(2) 0;
    display: inline-flex;
    align-items: center;
    font-size: $xl-font;
    font-weight: 700;
    line-height: 1;
    color: $text-dark;

    &--disabled {
      color: $gray-bg2;
    }
  }

  &--clickable {
    cursor: pointer;
  }
}
