@import 'partials';

.user-bar {
  position: relative;

  &__button {
    border: 0;
    text-align: left;
    cursor: pointer;
    position: relative;
    color: $text-white;
    font-size: $s-font;
    line-height: 1.2;
    text-decoration: none;
    outline: none;
    background: transparent;
    padding: four-by(1);
    width: 38px;
    height: 38px;
  }

  &__avatar {
    height: 28px;
    filter: drop-shadow(0 2px 2px $shadow-color-light);
  }

  &__menu-button {
    background: transparent;
    border: 0;
  }

  &__menu-wrapper {
    width: 250px;
    padding: four-by(1) four-by(4);
    background: $bg-color;
    position: absolute;
    top: 50px;
    right: 0;
    filter: drop-shadow(0 2px 2px $shadow-color-light);

    &::before {
      right: 7px;
      top: -10px;
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $bg-color;
    }
  }
}
