.user-bar {
  position: relative;

  &__button {
    border: 0;
    text-align: left;
    cursor: pointer;
    position: relative;
    color: $text-white;
    font-size: $s-font;
    line-height: 1.2;
    text-decoration: none;
    outline: none;
    background: transparent;
    padding: 0;
  }

  &__avatar {
    height: 28px;
    box-shadow: 0px 0px 5px rgba($shadow-color, 0.36);
  }

  &__menu-button {
    background: transparent;
    border: 0;
  }

  &__menu-icon {
    height: 16px;
  }

  &__menu-wrapper {
    width: 250px;
    padding: 4px 16px;
    background: $bg-color;
    position: absolute;
    top: 50px;
    right: 0;
    filter: drop-shadow(0 2px 2px $shadow-color-light);

    &::before {
      right: 7px;
      top: -10px;
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $bg-color;
    }
  }

  &__menu-item {
    cursor: initial;
    height: 44px;
    padding: 4px 0;
    color: $text-normal;
    font-size: $s-font;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: 0;
    }

    span {
      margin-left: 4px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    a:active,
    a:link,
    a:visited,
    a:hover {
      color: $text-normal;
    }
  }

  &__menu-logout {
    font-family: inherit;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
    color: $text-normal;
    font-size: $s-font;
    line-height: 1.2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-data {
    font-size: 12px;
    line-height: 1.2;
    color: $text-normal;
    margin-right: 8px;
    margin-bottom: 3px;

    &:nth-child(2) {
      margin-bottom: 0;
    }
  }

  &__icon {
    height: 20px;
  }

  &__logged {
    display: flex;
    flex-direction: column;
  }

  svg {
    height: 20px;

    path {
      fill: $gray2;
    }
  }
}
