.footer {
  margin: 20px 0 0;
  background-color: $container-bg;
  box-shadow: 0 1px 3px rgba($shadow-color, 0.15);
  padding: 20px;
  display: flex;
  justify-content: space-between;

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: $text-normal;
  }
}
