@import 'partials';

.footer {
  background-color: $bg-color;
  box-shadow: 0 2px 10px rgba($shadow-color, 0.1);
  padding: four-by(4) 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;

    @include breakpoint($medium) {
      flex-direction: row;
    }
  }

  &__text {
    padding: four-by(2) 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: $text-normal;
    text-decoration: none;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: 0;
    }

    @include breakpoint($medium) {
      font-size: $s-font;
    }

    @include breakpoint($medium) {
      border-bottom: 0;
    }
  }

  &__link {
    &:hover {
      color: $text-orange;
    }
  }

  &__copyrights {
    @include breakpoint($medium) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
