.cohort {
  margin: $xl-margin 0 $l-margin 0;
  border: 0;
  background-color: $bg-color;

  &__details {
    position: relative;
  }

  &__header {
    border-bottom: 1px solid $border-light;
    margin-bottom: $m-margin;
  }

  &__heading {
    padding: $m-padding 0;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: $text-normal;

    svg {
      height: 20px;
      margin-right: $l-margin;

      path {
        fill: $text-normal;
      }
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.2;
    color: $text-normal;
    padding: $m-padding 0 $l-padding;
  }

  &__name-input {
    max-width: 240px;
  }

  &__name-form,
  &__description-form {
    padding-bottom: $m-padding;
  }
}
