.cohort {
  margin: 36px 0 25px 0;
  border: 0;
  background-color: $bg-color;

  &__heading {
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    color: $text-normal;
    border-bottom: 1px solid $border-light;

    svg {
      height: 13px;
      margin-right: 8px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__body {
    padding: 16px 0;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: $text-light;
    padding: 16px 0;
    max-width: 360px;
  }
}

.cohort-list {
  margin: 0 -10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 195px);
  grid-gap: 20px 10px;

  &__item {
    margin-left: auto;
    margin-right: auto;

    a {
      text-decoration: none;
    }
  }
}
