.dashboard {
  margin-top: 36px;

  &__heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 16px;
    color: $text-normal;

    svg {
      height: 18px;
      margin-right: 16px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__list {
    margin: 0 -10px 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px 10px;
  }

  &__list-item {
    margin-left: auto;
    margin-right: auto;

    a {
      text-decoration: none;
    }
  }

  &__list-link {
    text-decoration: none;
  }

  &__form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50px;
    z-index: 11;
  }
}
