@import 'partials';

.ss-textarea {
  position: relative;

  &:focus {
    border: 1px solid rgba($border-focus, 0.54);
    box-shadow: 0 0 0 2px rgba($border-focus, 0);
  }

  &::before {
    display: block;
    content: '';
    height: 20px;
    background: $app-bg;
    position: absolute;
    left: 1px;
    top: 1px;
    right: 1px;
  }

  &__textarea {
    background-color: $bg-color;
    border: 1px solid $border-color;
    box-sizing: border-box;
    color: $text-normal;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: $m-font;
    line-height: 1.2;
    min-height: 65px;
    outline: 0;
    padding: four-by(4) four-by(2) four-by(2);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    resize: none;

    &::placeholder {
      font-size: 0;
    }

    &:focus {
      border: 1px solid rgba($border-focus, 0.54);
      box-shadow: 0 0 0 2px rgba($border-focus, 0);
    }
  }

  &__placeholder {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: $s-font;
    color: $text-normal;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;

    &--is-focused {
      font-size: 12px;
      top: 5px;
    }
  }
}
