@import 'partials';

html {
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $app-bg;
  min-height: 100%;
  position: relative;
}

#root {
  min-height: 100vh;
  position: relative;
  padding-bottom: 150px;
  box-sizing: border-box;

  @include breakpoint($large) {
    padding-bottom: 54px;
  }
}
