$green: #08ab6b;
$purple: #5562eb;
$red: #fa0202;
$red-light: #e0a5a5;
$gray1: #646c73;
$gray2: #d3d3de;
$gray3: #fbfcfc;
$gray5: #8a949e;
$black: #000;
$white: #fff;

// Colour by roles
$app-bg: #e7ecff;
$success: $green;
$danger: $red;
$danger-light: $red-light;
$text-normal: $gray1;
$text-light: $gray5;
$container-bg: $gray3;
$border-color: $gray2;
$shadow-color: $black;
$bg-color: $white;
$brand-color: $purple;
