$green: #08ab6b;
$light-green: #e1f5c4;
$red: #fa0202;
$red-light: #e0a5a5;
$gray1: #646c73;
$gray2: #d3d3de;
$gray3: #fbfcfc;
$gray4: #8a949e;
$black: #000;
$blue: #26ade4;
$white: #fff;
$yellow: #e1d540;
$gold: #c48b31;
$orange: #fbb040;

// Colours by roles
$app-bg: #e6e7e8;
$success: $green;
$success-bg: $light-green;
$danger: $red;
$danger-light: $red-light;
$text-normal: $gray1;
$text-light: $gray4;
$text-white: $white;
$container-bg: $gray3;
$border-color: $gray2;
$shadow-color: $black;
$bg-color: $white;
$brand-color: $gold;
$restore-blue: $blue;
$restore-color: $app-bg;
$message-bg-red: $red;
$message-bg-green: $green;
$message-bg-gray: $gray4;
$text-white: $white;
$chevron-active: $gold;
$chevron-not-active: $yellow;
$google-blue: #4285f4;
$chevron-active: $black;
$chevron-not-active: $gray4;
