$green: #08ab6b;
$purple: #5562eb;
$purple-light: #b0c3fe;
$bg-grey: #f9fbfa;
$white: #fff;
$red: #fa0202;
$red-light: #e0a5a5;
$gray1: #646c73;
$gray2: #d3d3de;
$gray3: #fbfcfc;
$gray4: #e9ebf0;
$gray5: #8a949e;
$black: #000;
$white: #fff;
$app-bg: #e7ecff;
