.activities {
  position: relative;

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    margin-right: 8px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: transparent;
    padding: 0;
    svg {
      height: 16px;

      path {
        fill: $text-normal;
      }
    }
  }

  &__wrapper {
    width: 250px;
    padding: 4px 16px;
    background: $bg-color;
    top: 50px;
    right: 0;
    filter: drop-shadow(0 2px 2px $shadow-color-light);

    &::before {
      right: 7px;
      top: -10px;
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $bg-color;
    }
  }
}
