@import 'partials';

.authbox {
  &__header {
    font-size: $s-font;
    line-height: 1.2;
    color: $text-normal;
    margin-bottom: four-by(1);
  }

  &__wrapper {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 166px;

    a {
      margin-bottom: four-by(2);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 four-by(4);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: four-by(4);

    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }
  }

  &__button {
    width: 100%;
    width: 166px;
    font-weight: 400;
    font-size: $m-font;
    text-transform: capitalize;
  }
}
